<ion-view view-title="课程" hide-back-button="true">
	
  <ion-content class="content">
   <!--  <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
  
    <div class="kc-top">
      <!-- 导航 -->
      <div>
        <a ng-repeat="item in kechengTitle" ng-class="{ 'active' : data.current == item.id }" ng-click="actions({{item.id}},$index)"><span>{{item.title}}</span></a>
        
     </div> 
    </div>
    <div class="kc-context">
      <ul class="lists"  ng-repeat="item in kechengTitle" ng-if="data.current == item.id">
         <li ui-sref="details({id:d.id,category:d.category_id})" ng-repeat="d in listNav">
            <div class="img"><img ng-src="http://119.10.11.121:8509/{{d.img_url}}"></div>
            <div class="tex">
               <span>{{d.title}}</span>
               <span>说明描述</span>
            </div>
            <div class="money">{{d.price | currency : '￥'}}</div>
         </li>        
      </ul>
      
    </div>
   <!-- <ion-nav-view></ion-nav-view> -->
  </ion-content>
 
</ion-view>