<ion-view view-title="账户管理">
	
  <ion-nav-bar class="bar-stable">
      <ion-nav-back-button  nav-transition="none">
       {{"返回"}}
      </ion-nav-back-button>
  </ion-nav-bar>

  

  <ion-content class="content">
	<div class="my_photo">
      <dl>
        <dt class="bor-rad"><img src="public/images/my.png" alt=""></dt>
        <dd>更换头像</dd>
      </dl>
    </div>

    <div class="my_list">
      <ul class="my_shezhi_list">
        <li><a href="javascript:;">昵称</a><input type="text" name="username" ng-model="username" placeholder="请输入昵称"></li>
        <li><a href="javascript:;">账号</a><input type="text" name="zhangNum" ng-model="zhangNum" placeholder="请输入账号"></li>
        <li>
        	<a href="javascript:;">本科院校</a><input type="text" name="msn" ng-model="msn" placeholder="毕业院校"></li>
        <li><a href="javascript:;">QQ</a><input type="text" name="qq" ng-model="qq" placeholder="请输入QQ号"></li>
         <li><a href="javascript:;">邮箱</a><input type="text" name="email" ng-model="email" placeholder="请输入邮箱号"></li>
        <li ui-sref="xiugaipwd"><a href="javascript:;">修改密码</a><span>></span></li>
      </ul>
    </div>

    <div class="my_exitbtn bor-rad">
      <button class="chengseBg" ng-click="amend()">保存</button>
    </div>
  </ion-content>

</ion-view>