.foot{
	width: 100%;
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	padding: 5px 0;
	.tab-item{
		font-size:14px;
		&.on{
			color: @liangchengse;
		}
		.icon{
			font-size:26px;
		}
	}
}