@charset "utf-8";
@import "reset.css";
.contenter {
  margin-top: 45px;
}
.swiper-container {
  width: 100%;
  height: 200px;
}
.swiper-container img {
  width: 100%;
  height: 100%;
}
.nav-menu {
  width: 100%;
  display: -webkit-box;
  padding: 10px 0;
}
.nav-menu a {
  display: block;
  -webkit-box-flex: 1;
  text-align: center;
  color: #353535;
}
.nav-menu.grey {
  background: #f4f4f4;
}
.enter {
  width: 100%;
}
.enter h4 {
  text-align: center;
  line-height: 50px;
  color: #353535;
}
.enter p {
  width: 100%;
}
.enter p a {
  display: inline-block;
  width: 42%;
  margin: 5px 4%;
  padding: 10px 0;
  text-align: center;
  border-radius: 20px;
}
.enter p a.pink {
  background: #fef0cb;
}
.enter p a.blue {
  background: #e2f5fc;
}
* {
  font-family: "微软雅黑";
  font-size: 12px;
  line-height: 20px;
}
.kc-top {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.kc-top div {
  width: 100%;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.kc-top div a {
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  text-align: center;
  color: #444;
  margin: 0 1%;
  border-radius: 50%;
}
.kc-top div a.active {
  background: #FF9B00;
  border: 1px solid #FF9B00;
}
.kc-top div a.active span {
  color: #fff;
}
.kc-top div a span {
  display: block;
  width: 28px;
}
.scroll {
  width: 100%;
  height: 100%;
}
/*列表*/
.lists {
  width: 100%;
}
.lists li {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: relative;
}
.lists li .img {
  width: 60px;
}
.lists li .img img {
  width: 60px;
}
.lists li .tex {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 25px;
  font-size: 12px;
}
.lists li .tex span {
  display: block;
}
.lists li .money {
  color: orange;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 30px;
}
/*详情页*/
.de-box {
  width: 100%;
}
.de-box img {
  width: 100%;
}
.de-fen {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.de-fen p span {
  display: inline-block;
  width: 45%;
  font-size: 12px;
}
.de-fen p span:nth-child(1) {
  margin-left: 10px;
}
.de-fen p span:nth-child(2) {
  text-align: right;
}
.de-fen p span b {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: orange;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
}
.de-content h3 {
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
.de-content p {
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
.btn-foot .de-btn {
  display: block;
  background: orange;
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 30px;
  width: 100px;
  margin: 0 auto;
}
.yindao {
  width: 100%;
}
.yindao a {
  display: block;
  width: 100%;
}
.yindao a img {
  width: 100%;
}
.content .tiku-content .slidingTabs ul {
  height: 48px;
}
.content .tiku-content .slidingTabs ul li {
  color: #525252;
}
.content .tiku-content .slidingTabs ul li.tab-active {
  color: #FF9B00;
}
.content .tiku-content .slidingTabs ul li.tab-active span {
  background: #FF9B00;
}
.content .tiku-content .slidingTabs ul li span {
  display: none;
}
.content .tiku-content .slidingTabs .tab-indicator-wrapper .tab-indicator {
  background-color: #FF9B00;
}
.content .tiku-content .slider {
  width: 100vw;
}
.content .tiku-content .slider .slider-slides {
  width: 100vw;
}
.content .tiku-content .tabs-nav {
  width: 100vw;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.content .tiku-content .tabs-nav > a {
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  text-align: center;
  color: #444;
  margin: 0 1%;
}
.content .tiku-content .tabs-nav > a.on {
  background: #FF9B00;
  border: 1px solid #FF9B00;
}
.content .tiku-content .tabs-nav > a.on span {
  color: #fff;
}
.content .tiku-content .tabs-nav > a span {
  display: block;
  width: 28px;
}
.content .tiku-content .tabs-cont .list .item {
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 12px;
}
.content .tiku-content .tabs-cont .list .item .fr span,
.content .tiku-content .tabs-cont .list .item .fr i {
  margin: 0 5px;
}
.paper-header {
  line-height: 80px;
  text-align: center;
  font-size: 16px;
}
.reset,
.begin {
  display: block;
  width: 130px;
  padding: 12px 0;
  color: #fff;
  font-size: 12px;
  border: 0;
  border-radius: 20px;
  margin: 50px auto;
  box-sizing: border-box;
}
.zsd_ss {
  box-sizing: border-box;
  height: 80px;
  border-top: 1px solid #F4F4F4;
  width: 100%;
  line-height: 80px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.zsd_ss div {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: 1px solid #DFDFDF;
  border-radius: 25px;
  background: #fff;
  overflow: hidden;
  padding-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.zsd_ss div input {
  color: #DFDFDF;
  width: 88%;
}
.zsd_ss div span {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../../img/zsd_ss.jpg") no-repeat center;
  margin-top: 3px;
}
.zsd_ss .zsd_btn_ml {
  margin-left: 20px;
  background: #FF9B00;
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  border: none;
}
.zsd_con {
  width: 100%;
}
.zsd_con h1 {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.zsd_con .zsd_con_list {
  width: 100%;
}
.zsd_con .zsd_con_list ol {
  width: 100%;
  background: #F4F4F4;
}
.zsd_con .zsd_con_list ol .zsd_con_list_tit {
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  background: url("../../../img/zsd_hidejt.jpg") no-repeat right center;
  background-position: 95% 50%;
}
.zsd_con .zsd_con_list ol ul {
  background: #fff;
}
.zsd_con .zsd_con_list ol ul li {
  line-height: 35px;
}
.zsd_con .zsd_con_list ol ul li span {
  float: right;
}
.zsd_con .zsd_con_list ol .ul_hide {
  display: none;
}
.zsd_con .zsd_con_list .ol_hide .zsd_con_list_tit {
  background: url("../../../img/zsd_showjt.jpg") no-repeat right center;
  background-position: 95% 50%;
}
.zsd_con .zsd_con_list .ol_hide .ul_hide {
  display: block;
}
.content-form {
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin-top: 40px;
}
.content-form input {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #666;
  padding: 0 10px;
}
.form-list {
  width: 100%;
}
.form-list ul {
  width: 100%;
}
.form-list ul li {
  width: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  line-height: 40px;
  border-bottom: 1px solid #ededed;
}
.form-list ul li div:nth-child(1):before {
  content: ".";
  font-size: 30px;
}
.form-list ul li div:nth-child(2) {
  -webkit-box-flex: 1;
}
.xq {
  background: #eee;
  padding: 10px;
  text-align: center;
}
.xq p {
  margin-bottom: 10px;
}
.my_photo {
  width: 100%;
  height: 135px;
  background: url('public/images/1.jpg');
  background: #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.my_photo dl {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.my_photo dl dt {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  overflow: hidden;
}
.my_photo dl dt img {
  display: block;
  width: 100%;
}
.my_list {
  width: 100%;
}
.my_list .my_dingdan_list {
  width: 100%;
}
.my_list .my_dingdan_list li {
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #E5F5FC;
}
.my_list .my_dingdan_list li p {
  width: 100%;
  line-height: 10px;
}
.my_list .my_dingdan_list li p a {
  color: #333;
}
.my_list .my_dingdan_list li p span {
  float: right;
}
.my_list .my_dingdan_list li p span b {
  font-weight: normal;
  margin-left: 5px;
  font-size: 12px;
}
.my_list .my_dingdan_list li p:last-child {
  font-size: 10px;
  color: #ccc;
}
.my_list .my_dingdan_list li p:last-child a {
  color: #ccc;
}
.my_list .my_biji_list {
  width: 100%;
}
.my_list .my_biji_list li {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #E5F5FC;
  display: -webkit-box;
  -webkit-box-pack: justify;
}
.my_list .my_biji_list li a {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  overflow: hidden;
  width: 80%;
  color: #666;
}
.my_list .my_biji_list li span {
  display: block;
}
.my_list .my_shezhi_list {
  width: 100%;
}
.my_list .my_shezhi_list li {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #E5F5FC;
}
.my_list .my_shezhi_list li a {
  display: inline-block;
  width: 30%;
  color: #333;
  font-size: 12px;
}
.my_list .my_shezhi_list li input {
  display: inline;
  height: 100%;
  border: 0;
}
.my_list .my_shezhi_list li i {
  font-style: normal;
}
.my_list .my_shezhi_list li span {
  float: right;
}
.my_list .my_kuaixun_list {
  width: 100%;
}
.my_list .my_kuaixun_list li {
  width: 100%;
  border-bottom: 1px solid #E5F5FC;
}
.my_list .my_kuaixun_list li time {
  display: inline-block;
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
  border-right: 1px solid #E5F5FC;
}
.my_list .my_kuaixun_list li span {
  display: inline-block;
  width: 70%;
  text-align: center;
}
.my_list .kuanxun_detail {
  width: 100%;
}
.my_list .kuanxun_detail p {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.my_list .kuanxun_detail article {
  padding: 10px 20px;
  line-height: 2;
  color: #999;
}
.my_list .my_pinglun_list {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.my_list .my_pinglun_list dl {
  width: 100%;
  display: -webkit-box;
  margin-bottom: 5px;
}
.my_list .my_pinglun_list dl dt {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.my_list .my_pinglun_list dl dt img {
  display: block;
  width: 100%;
  height: 100%;
}
.my_list .my_pinglun_list dl dd time {
  color: #ccc;
}
.my_list .my_pinglun_list article p:last-child {
  line-height: 2;
  color: #ccc;
  font-size: 12px;
}
.my_exitbtn {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.my_exitbtn button {
  width: 130px;
  padding: 12px 0;
  color: #fff;
  font-size: 12px;
  border: 0;
  border-radius: 20px;
}
.my_exitbtn .zhuce {
  padding: 10px 0;
  color: #666;
  font-size: 12px;
  border: 0;
  border-radius: 20px;
  background: none;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.my_exitbtn.denglu_btns {
  margin-top: 50px;
}
.denglu_page {
  width: 100%;
}
.denglu_page .denglu_p {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #E5F5FC;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  padding: 5px 20px;
}
.denglu_page .denglu_p input {
  border: none;
}
.denglu_page .denglu_p span {
  display: block;
  border: 1px solid #ccc;
  color: #ccc;
  padding: 5px 20px;
  border-radius: 20px;
}
/* 公共样式 */
/* color */
html {
  font-size: 100px;
}
body * {
  font-size: .14rem;
}
.chengsefont {
  color: #FF9B00;
}
.fontred {
  color: red;
}
.fontlanse {
  color: #00A0DD;
}
.fontchengse {
  color: #FF9B00;
}
/* background */
.huiseBg,
.content .tiku-content .slidingTabs ul {
  background-color: #F4F4F4;
}
.chengseBg {
  background-color: #FF9B00;
}
/* 边框样式 */
.bor1 {
  border: 1px solid #FF9B00;
}
.bor-rad,
.content .tiku-content .tabs-nav > a {
  border-radius: 50%;
}
.bor-bot {
  border-bottom: #F4F4F4;
}
.padTB {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padLR20 {
  padding-left: 20px;
  padding-right: 20px;
}
.bar-header {
  background: #fff!important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.foot {
  width: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 5px 0;
}
.foot .tab-item {
  font-size: 14px;
}
.foot .tab-item.on {
  color: #FF9B00;
}
.foot .tab-item .icon {
  font-size: 26px;
}
