<ion-view view-title="用户注册">
  <ion-nav-back-button>
   
  </ion-nav-back-button>
	
  <ion-content class="contenter">
    <div class="denglu_page">
      
       <a class="denglu_p"><input type="text" name="mobile" ng-model="mobile" placeholder="手机号"></a>
      <a class="denglu_p"><input type="text" name="LoginCode" ng-model="LoginCode" placeholder="验证码"><span class="chengseBg" ng-click="RegisterCode()">获取验证码</span></a>
      <a class="denglu_p"><input type="password" name="Pwd" ng-model="Pwd" placeholder="输入密码"></a>
      <div class="my_exitbtn denglu_btns">
        <button class="chengseBg" ng-click="Register()">提交</button><br>
        
      </div>
      <div class="my_exitbtn">
        
      </div>
    </div>
    

    

    
  </ion-content>

</ion-view>