<ion-tabs>
	<footer class="foot" >
	<a ui-sref="shouye" ui-sref-active="on" nav-transition="none">
		<i class="fa fa-qrcode"></i>
		<span>首页</span>
	</a>
	<a ui-sref="tiku" ui-sref-active="on" nav-transition="none">
	<i class="fa fa-group"></i>
		<span>题库</span>
	</a>
	<a ui-sref="zhishidian" ui-sref-active="on" nav-transition="none">
	<i class="fa fa-magic"></i>
		<span>知识点</span>
	</a>
	<a ui-sref="kecheng" ui-sref-active="on" nav-transition="none">
	<i class="fa fa-user"></i>
		<span>课程</span>
	</a>
	<a ui-sref="wode" ui-sref-active="on" nav-transition="none">
	<i class="fa fa-user"></i>
		<span>我的</span>
	</a>
	</footer>
</ion-tabs>
