<ion-view view-title="登陆">
<ion-nav-back-button>
   
  </ion-nav-back-button>
	
  <ion-content class="content">
    <div class="denglu_page">

     
      <a class="denglu_p"><input type="text" name="userPhone" ng-model="userPhone" placeholder="手机号"></a>
       <a class="denglu_p"><input type="password" name="userPwd" ng-model="userPwd" placeholder="密码"><span>忘记密码</span></a>
      <div class="my_exitbtn denglu_btns">

     


        <button class="chengseBg" ng-click="loginDo()">提交</button><br>
        <button class="zhuce" ui-sref="zhuce">注册</button>

      </div>
      <div class="my_exitbtn">
        
      </div>
    </div>
    

    

    
  </ion-content>
</ion-view>